# CMake build directory
/build/

# Compiled object files
*.o
*.obj

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Compiled static libraries
*.a
*.lib

# Executables
*.exe
*.out

# Ignore any file named "CMakeLists.txt.user" (if present)
CMakeLists.txt.user

# Ignore macOS system files
.DS_Store

